.header__menu-link,
.burger-menu-link {
  border-block-end-color: var(--text-primary);
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
}

.catalog__title {
  max-inline-size: 50rem;
}

.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tab {
  flex-shrink: 0;
  padding: 0.5rem;
  padding-inline-end: 1rem;
  background-color: var(--bg-page);
  border: var(--border-primary) 1px solid;
  color: var(--text-primary);
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.tab--selected {
  background-color: var(--bg-container);
  color: var(--text-inverse);
  border-color: var(--bg-container);

  & .tab__img {
    background-color: var(--bg-page);
  }
}

.tab__img {
  background-color: var(--border-primary);
  border-radius: 6.25rem;
  object-fit: contain;
}

.tab-text,
.modal-card__description {
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: inherit;
}

.modal-card__description {
  font-weight: 400;
}

@media (hover: hover) and (pointer: fine) {
  .tab:hover {
    background-color: var(--bg-container);
    color: var(--text-inverse);
    border-color: var(--bg-container);
    transition: color 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;

    & .tab__img {
      background-color: var(--bg-page);
      transition: background-color 0.5s ease;
    }
  }

  .card:hover {
    .card__img {
      transform: scale(110%);
    }
  }

  .modal-card__button-close:hover,
  .modal-option__button:hover {
    background-color: var(--bg-container);
    border-color: var(--bg-container);
    color: var(--text-inverse);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;

    & span:first-child {
      background-color: var(--bg-page);
      transition: background-color 0.5s ease;
    } 

    & span:last-child {
      color: var(--text-inverse);
      transition: color 0.5s ease;
    }
  }
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 310px));
  justify-content: center;
  align-items: stretch;
  gap: 2.5rem;
}

.card {
  cursor: pointer;
  border-radius: 2.5rem;
  border: 1px solid var(--border-primary);
}

.card__img-wrapper {
  border: transparent 0.5px solid;
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 19.375rem;
  max-height: 19.375rem;
  border-radius: 2.5rem;
  overflow: hidden;
}

.card__img {
  pointer-events: none;
  transition: transform 0.5s ease-in-out;
}

.card__text {
  width: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.75rem;
  word-break: break-word;
}

.card__description {
  color: var(--text-primary);
  text-align: start;
}

.modal {
  opacity: 1;
  visibility: visible;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(0.4rem);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal[aria-hidden="true"] {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--bg-overlay);
  z-index: 50;
}

.modal-card {
  border: var(--border-primary) 2px solid;
  z-index: 100;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  align-items: flex-start;
  border-radius: 2.5rem;
  background-color: var(--bg-page);
  padding: 1rem;
  margin: 1rem;
}

.modal-card__img-wrapper {
  max-width: 19.375rem;
  width: 100%;
}

.modal-card__img {
  border-radius: 2.5rem;
}

.modal-card__text {
  max-width: 27.375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem;
  align-items: flex-start;
}

.modal-card__title {
  font-size: 1.5rem;
}

.modal-card__title,
.modal-card__description {
  text-align: left;
  color: var(--text-primary);
}

.modal-card__subtitle,
.modal-option__button span {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--text-primary);
  font-weight: 400;
}

.modal-card__subtitle {
  margin-block-end: 0.5rem;
}

.modal-option__wrapper,
.modal-option__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.modal-option__button {
  color: var(--text-primary);
  padding: 0.5rem;
  padding-inline-end: 1rem;
  background-color: var(--bg-page);
  border: var(--border-primary) 1px solid;
  border-radius: 6.25rem;
}

.modal-option__button span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.modal-option__button span:first-child {
  inline-size: 1.875rem;
  block-size: 1.875rem;
  border-radius: 6.25rem;
  background-color: var(--border-primary);
}

.modal-option__button--selected {
  color: var(--text-inverse);
  background-color: var(--bg-container);
  border-color: var(--bg-container);

  & span:first-child {
    background-color: var(--bg-page);
  }

  & span:last-child {
    color: var(--text-inverse);
  }
}

.modal-card__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-card__alert {
  padding-block: 0.75rem;
  border-block-start: 1px solid var(--border-primary);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.modal-card__alert svg {
  display: block;
  flex-shrink: 0;
  flex-basis: 1rem;
}

.modal-card__button-close {
  align-self: stretch;
  padding: 0.625rem;
  border-radius: 6.25rem;
  border: var(--border-primary) 2px solid;
  font-size: 1rem;
  line-height: 1.5em;
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
  font-weight: 600;
}

.modal-card__caption {
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
  font-size: 0.625rem;
  line-height: 1.4em;
  font-weight: 600;
}

.modal-card__total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-card__button-close:active {
  background-color: var(--bg-container);
  border-color: var(--bg-container);
  color: var(--text-inverse);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}